 /*footer*/
.namef{
  margin-bottom: 15px;
}

div.container-fluid{
  width: 100% !important;
  padding-right: -40px !important;
}

 .footer{
    position: static;
    width: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    background: rgb(0, 0, 0);
    z-index: 1;
    opacity: 0.8;
  }

  .rowfooter{
      margin-right: -20px;
      margin-left: -20px;
      float: left; 
  }
  .footname{
    margin-right: -20px !important;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
  }

  .footname:hover{
    font-size: 21px;
    padding-top: 15px;
    color: rgb(230, 27, 27);
    cursor: pointer;
    transition: 0.5s;
    }


    .rowfooter a{
        font-size: 17px;
        text-decoration: none;
        color: grey;
    }
  .rowfooter a:hover{
    cursor: pointer;
    transition: 0.5s;
    color: rgb(49, 151, 177);
    font-size: 20px;
  }

  .row{
    margin-bottom: 0 !important;
  }

  .last{
    margin-left: 10px !important;
  }